:root {
  --ribose-primary-color: #d03f4e; // required for WCAG colour contrast
}

.logo {
  text-align: center;
}

.docidentifier {
  text-align: center;
  font-size: 18pt;
}

.doctitle-en {
  font-size: 36pt;
  text-align: center;
}

.coverpage-container {
  line-height: 1.5; // WCAG
}

#toc h1 li a, #toc > ul :is(.h1, .h2, .h3, .h4, .h5, .h6) li a {
  text-transform: none; // PDF is case-sensitive! Never force uppercase! 
}

a {
  text-decoration: underline; // WCAG - links need to be visible
}
