:root {
  --color_blue: rgb(22,97,173);
  --table_border_thin: 0.75pt solid rgb(72,145,175);
  --table_border_thick: 2.0pt solid rgb(72,145,175);
  --table_header_color: rgb(183,183,183);
  --table_zebra_color: rgb(239,239,239);
  --logo_yellow: rgb(202,152,49);
	--logo_green: rgb(139,152,91);
	--logo_red: rgb(208,63,78); /* only logo color with sufficient contrast for WCAG Level AA */
	--logo_blue: rgb(72,145,175);
  --proportional_font: 'Source Sans 3', sans-serif;
  --small-text-reduction: 90%;
  --monospaced_font: 'Source Code Pro', monospace;
  --mono_font-reduction: 90%;
  --ribose-primary-color: var(--logo_red); /* used by base flavor styling */
}

a {
  text-decoration: underline; /* WCAG - all links must be clearly visible */
  color: rgb(194,56,70); /* need sufficient contrast against non-white backgrounds such as zebra stripes, notes, etc. */
}

img { /* Make images more responsive */
  max-width: 100%;
  height: auto;
}

body {
  line-height: 1.5; /* WCAG level AA requires minimum line height of 1.5 */
}

p { /* Compress whitespace but equally top and bottom */
  margin-top: 1mm;
  margin-bottom: 1mm;
}

tt, td tt, p tt, li tt { /* override 0.8em formatting elsewhere */
  font-size: 1em;
}

/* FIGURES, EXAMPLES, SOURCE CODE, ETC. */

figure, pre { /* need to override full base CSS */
  background-color: unset;
  display: block;
  line-height: 1.5; /* WCAG level AA requires minimum line height of 1.5 */
  font-size: 100%;
  margin-top: 0; 
  padding: 0;
  padding-left: 2mm;
  margin-bottom: 0; 
  overflow: auto;
}

figure svg { /* avoid excessive up-scaling of SVGs */
  background-color: unset;
  width: auto;
  height: auto;
  max-width:  800px;  /* hard ceiling - never too wide for wide figures */
  max-height: 500px;  /* hard ceiling - never too tall for tall figures */
}

figure picture { /* images */
  width: fit-content;  /* shrink-wrap to the img's natural size */
  margin-inline: auto; /* centred */
  background-color: unset;
}

.figdl dt {
  color: var(--color_blue);
  font-weight: bolder; /* may slightly hide some PDF notation */
}

.example, details {
  margin-left: 3mm;
  padding: 2mm;
  margin-top: 2mm;
  border-left: 2pt solid var(--color_blue);
  text-transform: none; /* PDF is case-sensitive! Never force uppercase! */
  background-color: rgb(227,242,255); /* PDF does not have background color for examples */
}

.example .example-title, summary {
  color: var(--color_blue);
  margin-left: 0;
  font-weight: bolder; /* slightly bolder */
  text-transform: none; /* PDF is case-sensitive! Never force uppercase! */
}

.sourcecode {
  background-color: rgb(247,247,247);
  text-align: left;
}

figcaption.SourceTitle { /* Revert the title back from smaller monospaced font */
  font-family: var(--proportional_font) !important;
  font-size: 110%; /* Up-scale back to default for enclosing block */
  font-weight: normal;
  text-align: left !important;
  margin-top: 2mm;
  margin-bottom: 2mm; 
  color: rgb(91,94,52);
  order: -1; /* move title to top of source code block */
}

pre { /* Rouge source code blocks */
  font-size: var(--mono_font-reduction);
  line-height: 1.5; /* required by WCAG Level AA minimum, override from elsewhere */
  margin: 0;
  margin-left: 2mm;
  margin-right: 2mm;
  padding: 1mm;
  padding-left: 2mm;
}

/* TABLES - need to hard override some explicit style formatting on the HTML tags */
/* We also use DataTables.js classes - https://datatables.net/manual/styling/classes */

table:not(.layout) {
  border: var(--table_border_thick) !important;
}

table:not(.layout) th { /* Table headers */
  background-color: var(--table_header_color);
  border: var(--table_border_thick) !important;
}

table > caption {
  font-weight: normal; /* Retain PDF notation formatting */
  margin-top: 2mm; /* Close spacing at top */
  padding: 2mm;
  color: black;
}

table:not(.layout) td {
  padding: 0;
  padding-left: 1mm;
  border: var(--table_border_thin) !important;
  margin-top: 1mm; /* Close up spacing */
}

table:not(.layout) tbody tr:nth-child(even) { 
  background-color: var(--table_zebra_color); 
}

table.layout { /* class="layout" implies an invisible table used to influence layout */
  border: none !important;
  background-color: unset;
}

table.layout td { /* class="layout" implies an invisible table used to influence layout */
  border: none !important;
  background-color: unset;
}

/* COVER MATERIAL */

.logo { /* cover page logo */
  text-align: center;
}

.doctitle-en { /* cover page primary title */
  text-align: center;
  font-size: 32pt;
}

.docstage { /* cover page Draft or Release Candidate */
  color: var(--logo_red); 
  font-weight: bold;
  text-align: center;
  font-size: 28pt;
}

.docidentifier { /* cover page doc ID */
  line-height: 1.5; /* WCAG level AA requires minimum line height of 1.5 */
  text-align: center;
  font-size: 18pt;
}

/* NAVIGATION MENU */

/* Avoid bullets on ToC items */
#toc li::before, #toc li::marker {
  content: none;
  display: none;
}

#toc li a, #toc > ul :is(.h1) li a {
  text-transform: none; /* PDF is case-sensitive! Never force nav bookmark text uppercase! */
  padding: 1pt;
}

#toc li a, #toc > ul :is(.h2, .h3, .h4, .h5, .h6) li a {
  text-transform: none; /* PDF is case-sensitive! Never force nav bookmark text uppercase! */
  padding-top: 0.25pt;
  padding-bottom: 0.25pt;
}

#toc > ul :is(.h1) { /* H1's in bookmarks are bolder blue (not outright bold!) */
  color: var(--color_blue);
  font-weight: bolder; /* may slightly hide some PDF notation */
}

/* HEADINGS H1-H6, classes and tags */
h1, .h1 {
  margin-top: 3mm; /* tighten up spacing */
  font-size: 24pt;
  color: var(--logo_red);
  font-weight: bolder;  /* may slightly hide some PDF notation */
  text-transform: none; /* PDF is case-sensitive! Never force headings uppercase! */
}

h2, .h2 {
  font-size: 20pt;
  color: var(--logo_red);
  font-weight: bolder;  /* may slightly hide some PDF notation */
  text-transform: none; /* PDF is case-sensitive! Never force headings uppercase! */
}

h3, .h3 {
  font-size: 18pt;
  color: var(--logo_red);
  font-weight: bolder;  /* may slightly hide some PDF notation */
  text-transform: none; /* PDF is case-sensitive! Never force headings uppercase! */
}

h4, .h4 {
  font-size: 16pt;
  color: var(--logo_red);
  font-weight: bolder;  /* may slightly hide some PDF notation */
  text-transform: none; /* PDF is case-sensitive! Never force headings uppercase! */
}

h5, .h5 {
  font-size: 14pt;
  color: var(--logo_red);
  font-weight: bolder;  /* may slightly hide some PDF notation */
  text-transform: none; /* PDF is case-sensitive! Never force headings uppercase! */
}

h6, .h6 {
  font-size: 12pt;
  color: var(--logo_red);
  font-weight: bolder;  /* may slightly hide some PDF notation */
  text-transform: none; /* PDF is case-sensitive! Never force headings uppercase! */
}

/* UNORDERED LIST BULLETS */

/* Null out other CSS that uses legacy ::before */
ul > li::before {
  content: none;
  display: none;
  width: auto;
  margin: 0;
  padding: 0;
}

/* Level 1: Square bullet, logo red followed by EM space (U+2003) */
ul > li::marker {
  content: "■\2003";
  color: var(--logo_red);
}

/* Level 2: Diamond bullet, logo blue followed by EM space (U+2003) */
ul ul > li::marker {
  content: "◆\2003";  
  color: var(--logo_blue);
}

/* Level 3: Circle bullet, logo green followed by EM space (U+2003) */
ul ul ul > li::marker {
  content: "●\2003";
  color: var(--logo_green);
  font-size: 120%;
}

/* Level 4: Square bullet, logo red followed by EM space (U+2003) */
ul ul ul ul > li::marker {
  content: "■\2003";
  color: var(--logo_yellow);
}

/* Level 5: Diamond bullet, logo blue followed by EM space (U+2003) */
ul ul ul ul ul > li::marker {
  content: "◆\2003";  
  color: var(--logo_blue);
}

/* Level 6: Circle bullet, logo green followed by EM space (U+2003) */
ul ul ul ul ul ul > li::marker {
  content: "●\2003";
  color: var(--logo_green);
  font-size: 120%;
}

/* Space out unordered list items */
div.ul_wrap:has(> ul > li) {
  margin-top: 2mm;
  margin-bottom: 2mm;
  margin-left: 4mm;
}

/* BLOCK QUOTES */
.Quote {
  background-color: rgb(227,242,255);
  width: 95%;
  margin-left: 15mm;
  margin-right: 5mm;
  margin-top: 0;
  padding: 2mm;
}

.QuoteAttribution {
  text-align: right;
}

span.TermNum {
  font-weight: normal;
}

/* SEMANTIC SPANS */
.requirement {
  color: rgb(194,56,70); 
  font-weight: bold;
  text-transform: uppercase; /* Uppercase "SHALL" a-la RFCs */
}

.recommendation {
  color: rgb(134,103,39);
  font-weight: bold;
  text-transform: uppercase; /* Uppercase "SHOULD" a-la RFCs */
}

.pdf-version { 
  color: rgb(39,78,19); 
  font-style: italic; 
  font-weight: lighter; 
}
.pdf-version::before { content: "(PDF "; }
.pdf-version::after  { content: ")"; }

.pdf-operator {
  font-family: var(--monospaced_font);
  font-size: var(--mono_font-reduction);
  color: rgb(53,28,117); 
  font-weight: bold;
}

.pdf-keyword {
  font-family: var(--monospaced_font);
  font-size: var(--mono_font-reduction);
  color: rgb(55,110,134); 
  font-weight: bold;
}

/* Base admonition styling */
.Note, .Admonition  {
  font-size: var(--small-text-reduction);
	background-color: rgb(255,249,232);
	border-left: 4pt solid rgb(241,194,50);
  margin: 2mm;
  margin-left: 3mm;
  padding: 1.5mm;
}

.note_label, .termnote_label {
  font-weight: bold; /* the "NOTE 1" or "Note to entry" text before the body of a note*/
  color: rgb(55,110,134);
}

.AdmonitionTitle { /* titles of all admonitions */
  text-align: left;
  text-transform: none; /* PDF is case sensitive! */
  font-weight: bold; /* may hide some PDF notation */
}

/* Tip admonition */
.AdmonitionTip {
  background-color: rgb(227,242,255);
  border-left-color: rgb(28,69,135);
}

.AdmonitionTip.AdmonitionTitle {
  color: rgb(55,110,134);
  text-align: left !important; /* HTML has hard-coded style to center */
}

/* Warning admonition */
.AdmonitionWarning {
  background-color: rgb(244,255,240);
  border-left-color: rgb(91,94,52);
}

.AdmonitionWarning.AdmonitionTitle {
  color: rgb(67,67,67);
  text-align: left !important; /* HTML has hard-coded style to center */
}

/* Caution admonition */
.AdmonitionCaution {
  background-color: rgb(255,255,191);
  border-left-color: rgb(255,117,117);
}

.AdmonitionCaution.AdmonitionTitle {
  color: rgb(102,0,0);
  text-align: left !important; /* HTML has hard-coded style to center */
}

/* Important admonition */
.AdmonitionImportant {
  background-color: rgb(247,247,247);
  border-left-color: rgb(102,102,102);
}

.AdmonitionImportant.AdmonitionTitle {
  color: rgb(194,56,70);
  text-align: left !important; /* HTML has hard-coded style to center */
}

/* Safety-precaution admonition */
.AdmonitionSafetyPrecaution {
  background-color:rgb(230,239,227);
  border-left-color: black;
}

.AdmonitionSafetyPrecaution.AdmonitionTitle {
  color: rgb(67,67,67);
  text-align: left !important; /* HTML has hard-coded style to center */
}

/* Editorial admonition - never in final publications! */
.AdmonitionEditorial {
  background-color: rgb(239,239,239);
  border-left-color: rgb(27,127,27);
}

.AdmonitionEditorial.AdmonitionTitle {
  color: rgb(67,67,67);
  text-align: left !important; /* HTML has hard-coded style to center */
}

/* Box admonition - not used */
.AdmonitionBox {
  background-color: rgb(154,221,218);
  border: 2pt solid black;
}

.AdmonitionBox.AdmonitionTitle {
  border: none; /* do not additionally border the box admonition title */
  text-align: left !important; /* HTML has hard-coded style to center */
}

/* Other admonition - should never happen */
.AdmonitionOther {
  background-color: rgb(239,239,239);
  border-left-color: rgb(102,102,102);
}

.AdmonitionOther.AdmonitionTitle {
  color: rgb(67,67,67);
  text-align: left !important; /* HTML has hard-coded style to center */
}

p.Biblio { /* hanging indent for bibliographic entries */
  margin-left: 8.5mm;
  text-indent: -5mm;
}

.Biblio.note_label {
  margin-top: 0;
  margin-left: 5mm;
}
